$font-primary: "Roboto", sans-serif;

$color1: #0a2647;
$color2: #3f5278;
$color3: #e2f0ff;
$color4: #d8a31a;
$color5: #eeeeee;

$gradient1: radial-gradient(
  circle farthest-corner at 10% 20%,
  rgba(255, 246, 236, 1) 39.5%,
  rgba(100, 46, 122, 0.23) 100.2%
);
$gradient2: radial-gradient(circle farthest-corner at 10% 20%, rgba(69, 86, 102, 1) 0%, rgba(34, 34, 34, 1) 90%);

@mixin devices($breakpoint) {
  @if $breakpoint == dekstop {
    @media only screen and (min-width: 769px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 481px) and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}
