@import "../../BaseStyles/base";

.about {
  width: 100vw;
  height: 100vh;
  background-color: $color1;
  scroll-snap-align: start;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  @include devices(dekstop) {
    flex-direction: row;
  }

  .border-left {
    border-left: 1px solid rgba(255, 255, 255, 0.253);
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    z-index: 0;

    @include devices(dekstop) {
      left: 30%;
    }

    @include devices(tablet) {
      left: 30%;
    }
  }

  .about-me {
    color: $color5;
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    h1 {
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
      margin-top: 5%;
      span {
        color: $color4;
      }

      @include devices(tablet) {
        font-size: 4rem;
      }

      @include devices(dekstop) {
        font-size: 4.5rem;
      }
    }

    p {
      margin-top: 1rem;
      text-align: justify;
      line-height: 1.5em;
    }

    @include devices(dekstop) {
      width: 50%;
      height: 100%;
      justify-content: flex-start;
      padding: 0 5rem;
      margin-top: 10%;
    }
  }

  .gambar {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    margin-top: 5%;
    z-index: 2;

    img {
      width: 90%;
      height: 60%;

      @include devices(tablet) {
        width: 60%;
      }

      @include devices(dekstop) {
        width: 80%;
      }
    }

    @include devices(dekstop) {
      width: 50%;
      height: 100%;
      justify-content: flex-start;
      align-items: baseline;
      margin-top: 10%;
    }
  }

  .next-button {
    position: relative;
    bottom: 15%;
    font-size: 3rem;
    z-index: 2;
    cursor: pointer;
    color: $color5;
    height: 3rem;
    border-radius: 0.2em;
    align-self: center;

    @include devices(dekstop) {
      font-size: 4rem;
      position: absolute;
      left: calc(25% + 2.3rem);
      bottom: 20%;
      height: 4rem;
    }

    @include devices(tablet) {
      font-size: 4rem;
      height: 4rem;
    }
  }
}
